<div class="">
  <div class="max-w-xl mx-auto">
    @for (week of weeks; track week) {
      <div class="flex">
        @for (date of week; track date) {
          <div
            class="flex-1 aspect-square transition-colors duration-1000 cursor-pointer text-center flex justify-center text-white"
            [class]="moodService.getColorClass(entries()[date]?.score)"
            [class.bg-gray-500]="selectedDate === date && !entries()[date]?.score"
            [class.animate-pulse]="selectedDate === date"
            (click)="selectedDate = date"
          >
            @if (todayString === date) {
              <div class="m-auto"><ng-icon name="heroStar"></ng-icon></div>
            }
          </div>
        }
      </div>
    }
  </div>
  @if (selectedDate) {
    <app-menu
      class="mx-auto"
      animate.enter="fade-in-animation"
      animate.leave="fade-out-animation"
      [date]="selectedDate"
      (close)="selectedDate = null"
    ></app-menu>
  }
</div>
