/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'tailwindcss';

body {
  font-family: 'Funnel Sans', sans-serif;
}

.bg-seven {
  background-color: #a2c026;
}

:root {
  /* --color-accent-low: #f27752; */
  --color-accent-low: #c10007;
  /* --color-accent-mid: #d0b749; */
  --color-accent-mid: #c9bd2b;
  /* --color-accent-mid: #f0ad4e; */
  --color-accent-high: #00a63e;
  /* --color-accent-high: #32beb8; */
}
