<div class="fixed bottom-4 left-1/2 -translate-x-1/2 z-50">
  <div
    class="transition-colors duration-1000 ease-in-out w-64 h-64 rounded-md flex flex-col text-gray-300"
    [class]="moodService.getColorClass(score.value)"
    [class.text-white]="!!score.value && score.valid"
    [class.bg-white]="!score.value || score.invalid"
  >
    <div class="text-gray-300 pl-4 pt-2 absolute" [class.text-white]="!!score.value && score.valid">
      {{ date | date: 'M/dd' }}
    </div>
    @if (!!score.value && score.valid) {
      <ng-icon
        (click)="save()"
        class="right-4 top-2 absolute text-2xl cursor-pointer"
        name="heroCheck"
      ></ng-icon>
    } @else {
      <ng-icon
        (click)="close.emit()"
        class="right-4 top-2 absolute text-2xl cursor-pointer"
        name="heroXMark"
      ></ng-icon>
    }
    <input
      appAutofocus
      type="number"
      class="remove-arrow outline-none text-5xl w-full text-center placeholder-gray-300 transition-all duration-500"
      placeholder="score"
      [formControl]="score"
      [class.py-16]="!notes.value"
      [class.py-7]="notes.value"
    />

    <textarea
      class="outline-none resize-none w-full h-full placeholder-gray-300 p-4"
      placeholder="notes"
      [formControl]="notes"
      [class.text-white]="!!score.value"
    ></textarea>
  </div>
</div>
